/* ***************************Main Page******************** */
body {
  font-family: "Raleway", sans-serif;
  background-color: #bd8b9c;
  color: #105c7b;
  display: grid;
}

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  height: 100vh;
  margin: -1%;
}

aside {
  padding: 10px;
  grid-column: 1 / span 1;
  background-color: #d9bfc9;
  height: 100vh;
}

.main-section {
  grid-column: 2 / span 4;
  padding: 1rem;
  text-align: center;
}

aside h1 {
  text-align: center;
}

.container {
  /* position: relative; */
  min-height: 100vh;
}

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-left: 82px;
}
/* ********Text Area*************** */

textarea {
  font-size: 0.8rem;
  padding: 5%;
  margin-right: 74%;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 10px;
  border: 2px solid #21a4d9;
  box-shadow: 1px 1px 1px #999;
  width: 89%;
}

/* ********** Footer **********************/

.header {
  display: flex;
  justify-content: center;
  /* margin-left: 239px; */
}

.images {
  display: flex;
  justify-content: center;
  height: 50px;
  outline: none;
  cursor: pointer;
  /* margin-left: 239px; */
}

/* ******************** My Notes *************************/

/* ********************* Buttons*************** */
.grid-buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  margin-left: -1px;
  width: 99.5%;
  position: relative;
}

.grid-buttons2 {
  display: flex;
  justify-content: right;
  margin: 10px;
  flex-basis: auto;
  max-width: 100%;
  position: relative;
}

button {
  display:flex;
  border: 0;
  line-height: 2.5;
  padding: 0 10px;
  font-size: 0.9rem;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.button1 {
  background-color: #176992;
}
.button2 {
  background-color: #062c40;
}

.button3 {
  padding: 0 13px;
  margin-right: 10px;
  background-color: #235842;
}
.button4 {
  padding: 0 15px;
  background-color: #b02d16;
}

/* ***************************NAV******************** */
nav {
  color: #105c7b;
}

.ul1 {
  display: flex;
  justify-content: right;
  list-style-type: none;
}

li {
  margin: 5px;
}

.ul2 {
  text-align: left;
  list-style-type: square;
}

/* **************Media Mobile ******************/
@media screen and (max-width: 600px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  aside {
    display: block;
    height: 35vh;
    
  }

  .main-section {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .grid-buttons2 {
    max-width: 100%;
  }

  .footer-container {
    margin-left: 0px;
  }
}

@media screen and (min-width: 601px) {
  main {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
  }

  aside {
    display: block;
  }

  .main-section {
    grid-column: 2 / span 4;
  }
}
