/* ***************************Main Page******************** */
body {
  font-family: "Raleway", sans-serif;
  background-color: #bd8b9c;
  color: #105c7b;
  
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-start: 1px;
  grid-column-end: 50px;
  border: 2px solid black;
}

/* ***************Body Grid and Flex********** */




/* ********Text Area*************** */

textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 5%;
  padding-right: 70%;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 15px;
  border: 2px solid #21a4d9;
  box-shadow: 1px 1px 1px #999;
  display:flex;
}


/* ********** Footer **********************/
img {
    height: 50px;
    outline: none;
    cursor:pointer;
}

/* ******************** My Notes *************************/


/* ********************* Buttons*************** */
.button1 {
  border: 0;
  line-height: 2.5;
  padding: 0 10px;
  font-size: 0.9rem;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  background-color: #176992;
  cursor:pointer;
}
.button2 {
  border: 0;
  line-height: 2.5;
  padding: 0 10px;
  font-size: 0.9rem;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  background-color: #062c40;
  cursor:pointer;
}

.button3 {
  border: 0;
  line-height: 2.5;
  padding: 0 13px;
  font-size: 0.9rem;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  background-color: #235842;
  cursor:pointer;
}
.button4 {
  border: 0;
  line-height: 2.5;
  padding: 0 15px;
  font-size: 0.9rem;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  background-color: #b02d16;
  cursor:pointer;
}
/* ***************************NAV******************** */
nav {
  color: #105c7b;
}

.ul1 {
  list-style-type: none;
}

.ul2 {
  list-style-type: square;
}

/* **************Media Mobile ******************/
@media screen and (min-width: 600px) {
   body {
    
   }
}