/* ***************************Main Page******************** */
body {
  font-family: "Raleway", sans-serif;
  background-color: #bd8b9c;
}

.button1 {
  border: 0;
  line-height: 2.5;
  padding: 0 10px;
  font-size: 0.9rem;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  background-color: #176992;
}
.button2 {
  border: 0;
  line-height: 2.5;
  padding: 0 10px;
  font-size: 0.9rem;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  background-color: #062c40;
}

.button3 {
  border: 0;
  line-height: 2.5;
  padding: 0 13px;
  font-size: 0.9rem;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  background-color: #235842;
}
.button4 {
  border: 0;
  line-height: 2.5;
  padding: 0 15px;
  font-size: 0.9rem;
  text-align: center;
  color: #fff;
  border-radius: 10px;
  background-color: #b02d16;
}
/* ****************************Media********************** */

@media screen and (min-width: 500px) {
}
